@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 text-center">
            <h1>
                Welcome, @Html.DisplayFor(model => model.FirstName)
            </h1>
            <br />
            <form asp-action="Edit" asp-route-id="@Model.Id" method="get">
                <button type="submit" class="btn btn-outline-danger">Edit Profile and Change Options</button>
            </form>
            <br />
        </div>
        <div class="col-md-4 offset-1">
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header h3">Current Balance</div>
                <div class="card-body">
                    <h4 class="card-title text-secondary">@Html.DisplayFor(model => model.CurrentBalance)</h4>
                    <p class="card-text">Your current pick up day is <strong>@Html.DisplayFor(model => model.PickUpDay.Date)</strong></p>
                </div>
            </div>
            <br />
            <div class="card border-primary mb-3" style="max-width: 20rem;">
                <div class="card-header h3">Extra Pick Up Day</div>
                <div class="card-body">
                    <h4 class="card-title text-primary">
                        @if (Model.ExtraPickUpDay == null)
                        {
                            <strong>You have not requested an extra pickup day!</strong>

                        }
                        else
                        {
                            @Html.DisplayFor(model => model.ExtraPickUpDay)
                        }
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-info mb-3" style="max-width: 30rem;">
                <div class="card-header h3">Suspension Status</div>
                <div class="card-body">
                    <h4 class="card-title text-info text-danger">
                        @if (Model.SuspendStartDate == null || Model.SuspendEndDate == null)
                        {
                            <strong class="text-primary">Your service is currently active!</strong>

                        }
                        else
                        {
                            @Html.DisplayFor(model => model.SuspendStartDate) <text> through </text>  @Html.DisplayFor(model => model.SuspendEndDate)
                        }
                    </h4>

                </div>
            </div>



        </div>
    </div>
  
</div>



