@model Trash_Collector.Models.ViewModels.CustomersByPickUpDay

@{
    ViewData["Title"] = "Filter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
                <div class="card-header">Welcome, WasteSpacer!</div>
                <div class="card-body">
                    <h4 class="card-title">About this Page</h4>
                    <p class="card-text">You can use this Filter to view all of your customers by pickup day!</p>
                </div>
            </div>
        </div>
        <div class="col-lg-5 offset-1">
            <form asp-action="Filter" method="post">
                <div class="form-group">
                    <label asp-for="PickUpDaySelection"></label>
                    <select asp-for="PickUpDaySelection" class="form-control" asp-items="@Model.PickUpDaySelections"></select>
                    <span asp-validation-for="PickUpDaySelection" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-secondary">Filter</button>
            </form>
        </div>

    </div>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Street Address
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Zip Code
            </th>
            <th>
                Current Balance
            </th>
            <th>
                Pick Up Day
            </th>
            <th>
                Extra Pick Up Day
            </th>
            <th>
                Suspend Start Date
            </th>
            <th>
                Suspend End Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Customers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StreetAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentBalance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickUpDay.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExtraPickUpDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendEndDate)
            </td>
            <td>
                <form asp-action="Map" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-outline-success">View Location Information</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
